{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

 <form action="/save_step1/" method="post">
                  {% csrf_token %}
          <!-- STEP 1: class .active is switching steps -->
          <div data-step="1" class="active">
            <h3>Zaznacz co chcesz oddać:</h3>
        {% for c in categories %}
            <div class="form-group form-group--checkbox">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  value="clothes-to-use"
                  {{ c.id }}
                />
                <span class="checkbox"></span>
                <span class="description"
                  >{{ c.name }}</span
                >
              </label>
            </div>

            {% endfor %}
          <div class="form-group form-group--buttons">
              <button type="submit" class="btn next-step">Dalej</button>
            </div>
          </div>
        </form>

    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>